<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1">
    <parameter name="test1" value="aaaa"/>

    <test name="test1001" verbose="10">
        <classes>
            <class name="com.hfjy.service.order.controller.Demo2Test"/>
        </classes>
    </test>
</suite>